body {
    background-color: #b1d8d860;
    display: grid;
    grid-template-areas: 
        ". paveiksliukas . tekstas .";
    grid-template-columns: 1fr 300px 30px 400px 1fr; 
}
/* (100%ekrano plocio -700pxploti kuri zinome) /2= nezinomas sono plotis */
    img {
        grid-area: paveiksliukas;
        display: inline-block;
        width: 100%;
        margin-top: 20%;
    }
    div {
        grid-area: tekstas;
        margin-top: 20%;
        text-align: center;
        display: inline-block;
        width: 100%; 
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
        h1 {
            display: inline-block;
            font-size: 100px;
            margin: 0;
        }
        p {
            display: inline-block;
            font-size: 30px;
            width: 100%;
        }
        a {
            display: inline-block;
            text-decoration: none;
            color: #ffffff;
            background-color: #656E8B;
            padding: 20px;
            text-transform: uppercase;
        }
@media (max-width: 900px) {
    body {
        grid-template-columns: 50px 1fr 50px; 
        grid-template-areas: 
        ". tekstas ."
        ". paveiksliukas .";
    }
}